
$breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
  );
  
  
  
  $breakpoint: map-get($breakpoints, sm); // Get the small breakpoint.
  
  $breakpoint: map-get($breakpoints, md); // Get the medium breakpoint.
  
  $breakpoint: map-get($breakpoints, lg); // Get the large breakpoint.
  
  $breakpoint: map-get($breakpoints, xl); // Get the xlarge breakpoint.
  
  $breakpoint: map-get($breakpoints, xxl); // Get the extra extra large breakpoint.
  
  
  @mixin respond-above($breakpoint) { 
  
  //respond above - breakpoints above designated value
  //respond below - breakpoints below designated value
  
    @if map-has-key($breakpoints, $breakpoint) {
  
      $breakpoint-value: map-get($breakpoints, $breakpoint);
  
      @media (min-width: $breakpoint-value) {
        @content;
      }
  
    } @else {
  
  
      @warn 'Invalid breakpoint: #{$breakpoint}.';
    }
  }
  
  @include respond-above(sm) {
    
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
  }
  
  body {
    background: wheat;
  }
  
  .d-flex {
    justify-content: space-between;
  }
  
  .card-group {
    max-width: 1200px;
  
    margin: 0 auto;
    padding: 3rem 2rem;
  
  } 
    
  .card {
    display: block;
    height: auto;
    box-shadow: 0.5rem 1rem rgba(0,0,0,.1);
    background: white;
    cursor: pointer; 
  }
  
  .card img{
    height: 500px;
  }
  
  .card img:hover {
    transform: scale(0.9);
  }
  
  .footer {
    position: absolute;
    bottom: 0;
    padding:40px 0;
  }
  
  .footer .social {
    padding-bottom: 25px;
  }
  
  .social a{
    font-size: 25px;
    width: 30px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
  }
  
  .social a:hover{
    opacity: 0.9;
  }
  
  .col ul {
    padding:40px;
    list-style: none;
    font-size: 20px;
    line-height: 2;
  }
  
  .col ul li a {
    color: inherit;
    text-decoration: none;
  }
  
  
  }
  
  @mixin respond-below ($breakpoint){
  
  @if map-has-key($breakpoints, $breakpoint) {
  
    $breakpoint-value: map-get($breakpoints, $breakpoint);
  
    @media (max-width: ($breakpoint-value - 1)) {
      @content;
    }
  
  } @else {
  
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
  }
  
  @include respond-below(lg) {
  .card {
    height: auto;
    width: fit-content;
    box-shadow: 0.5rem 1rem rgba(0,0,0,.1);
    background: white;
    cursor: pointer; 
  }
  
  .card img {
    height: 450px;
    outline: .1rem solid #ccc;
    outline-offset: -1.5rem;
      
  }
  
  .card img:hover {
    outline: .2rem solid #222;
    outline-offset: 0;
  }
  
  }
  
  
  @mixin respond-between($lower, $upper) {
  
    @if map-has-key($breakpoints, $lower) and map-has-key($breakpoints, $upper) {
  
      $lower-breakpoint: map-get($breakpoints, $lower);
      $upper-breakpoint: map-get($breakpoints, $upper);
  
      @media (min-width: $lower-breakpoint) and (max-width: ($upper-breakpoint - 1)) {
        @content;
      }
    
    } @else {
  
      @if (map-has-key($breakpoints, $lower) == false) {
  
        @warn 'Your lower breakpoint was invalid: #{$lower}.';
      }
  
      @if (map-has-key($breakpoints, $upper) == false) {
  
        @warn 'Your upper breakpoint was invalid: #{$upper}.';
      }
    }
  }
  
  @include respond-between(sm, xxl) {
  
  }
  
  
  
  